#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

/* CSS: Navigation Bar */
#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
  background-color: #ccc;
  color: #333;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: black;
  padding: 0 16px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

/* CSS: Search Input */
#search-btn {
  float: right;
  padding: 0 22px;
}

#search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#search-btn .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
