#slider {
  margin-top: 46px;
  padding-top: 50%; /* 50% chiều ngang (rộng) của chính nó*/
  background: url("https://www.w3schools.com/w3images/ny.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#slider .text-content {
  position: absolute;
  bottom: 48px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 22px;
}

#slider .text-description {
  margin-top: 26px;
}
